.img svg,
.img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.img {
  position: relative
}

.img img {
  position: absolute;
  top:0;
  left:50%;
  transform: translate(-50%, 0);
}