{{- if .Site.Params.analytics.google.enable }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.analytics.google.ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.Params.analytics.google.ID }}');
</script>
{{- end }}
{{- if not .Site.Params.assets.disableFingerprinting }}
{{- $lazysizes := slice (resources.Get "js/lazysizes.min.js") | resources.Concat "assets/js/lazysizes.js" | minify | fingerprint }}
<script async src="{{ $lazysizes.RelPermalink }}" integrity="{{ $lazysizes.Data.Integrity }}"></script>
{{- else}}
{{- $lazysizes := slice (resources.Get "js/lazysizes.min.js") | resources.Concat "assets/js/lazysizes.js" | minify }}
<script async src="{{ $lazysizes.RelPermalink }}"></script>
{{- end}}